#footer {
    background-color: rgb(246, 245, 244);
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3 / 4;
    border-top: 1px solid rgb(222, 223, 220);
}

#footer-content {
    font-size: 1.2rem;
    color: rgb(100, 100, 100);
}

a {
    color: rgb(153, 128, 128);
    font-weight:500;
    text-decoration: none;
}